body {
    color:black;
    margin: auto;
    padding: 0px;
    background-image: url("images/rihanna.jpg");
    background-repeat:no-repeat ;
    height: 1700px;
    width: 70%;



}

.left {
    position: absolute;
    left: 34px;
    top: 20px;
    display: inline-block;
    border: 2px solid red;
    background-color: black;
}

.left img {
    width: 136px;
    /* filter: invert (100%); */
}

.left div {
    text-align: center;
    color: white;
}

.mid {
    display: block;
    width: 80%;
    margin: 20px auto;
   


    /* border: 2px solid yellow */
}

.right {
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid green */
}

.navbar {
    display: inline-block;

}

.navbar li {
    display: inline-block;
    font-size: 24px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey
}

.btn {
    margin: 0px 9px;
    background-color: rgb(224, 31, 79);
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointed
}

.btn:hover {
    background-color: rgb(214, 155, 60);
}
.container{
    margin: 300px 0px;
    color: black;
}
.r{
    color: white;
    text-align: left;
    font-size: 36px;
}